<h1>会員一覧</h1>

<% @customers.each do |customer| %>
 <p>会員ID</p>
 <%= customer.id %>
 <p>氏名</p>
 <%=link_to customer.first_name + customer.last_name, admin_customer_path(customer.id) %>
 <p>メールアドレス</p>
 <%= customer.email %>
 <p>ステータス</p>
 <% if customer.is_deleted %>
  <span>退会</span>
 <% else %>
  <span>有効</span>
 <% end %>
<% end %>
