<h1>商品一覧（全x件）</h1>

<% @items.each do |item| %>
 <% if item.is_active %>
  <% if item.image.attached? %>
   <%= image_tag item.image, size: "200x200" %>
  <% else %>
   <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
 
  <%= link_to item.name, item_path(item.id) %>
  <%= item.price %>
 <% end %>
<% end %>
 